.mv-list {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.mv-list h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.mvs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    gap: 4rem;
}

.mvs-loading {
    width: 50px;
}

.mv-list-filters {
    width: 100%;
}

.mv-list-filters-menu {
    text-align: center;
}